[submodule "Frameworks/iosProjectCommon"]
	path = Frameworks/iosProjectCommon
	url = git@github.com:AlexTheiOSDev/iosProjectCommon.git
[submodule "common2"]
	path = iosProjectCommon
	url = git@github.com:AlexTheiOSDev/iosProjectCommon.git
